* {margin:0;padding:0}
/*.digitalskillacademy{
    position: absolute;
    top: 150px;
    left: 90px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 1s ease-in-out;
    height: auto;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
}

.active {
    background-color: white;
}*/